:root {
    --colorBackground: rgb(115, 209, 176);
    --colorBackgroundElement: rgb(34, 70, 100);
    --colorBorder: rgb(15, 31, 44);
    --colorP: rgb(143, 178, 241, 0.7);
    --colorLink: rgb(99, 32, 223);
    --colorLinkHover: rgb(14, 96, 134);
    --colorLinkActive: black;
    --colorLinkHeader: var(--colorP);
    --colorLinkHeaderHover: rgb(81, 112, 170);
}

@font-face {
    font-family: poppins;
    src: url(Poppins-Medium.ttf);
}

body {
    background-attachment: fixed;
    background-image: url(Images/backGround.svg);
    background-size: cover;
    margin: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: poppins;
}

img {
    border-radius: 20px;
}

li {
    list-style: none;
}

main {
    width: 100%;
    display: flex;
}

hr {
    border: 1px solid var(--colorBorder);
    border-radius: 15px;
    height: 8px;
    width: 65%;
    background-color: var(--colorBackgroundElement);
    margin-top: 10px;
    margin-bottom: 10px;
}

a {
    color: var(--colorLink);
    text-decoration: none;
}

p {
    text-align: justify;
}

a:hover {
    color: var(--colorLinkHover);
}

