header {
    border: 1px solid var(--colorBorder);
    background-color: var(--colorBackgroundElement);
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    display: flex;
    position: sticky;
    border-radius: 22px;
    top: 10px;
    left: 0;
    right: 0;
    font-size: large;
}

header>nav>ul {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    flex-wrap: wrap;
}

header>nav>ul>li {
    margin: 0;
    margin: 6px;
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

header>nav>ul>li>a {
    border: 1px solid var(--colorBorder);
    background-color: var(--colorLinkHeader);
    text-align: center;
    width: 160px;
    padding: 9px;
    border-radius: 14px;
    color: var(--colorBorder);
}

header>nav>ul>li>a:hover {
    background-color: var(--colorLinkHeaderHover);
    color: var(--colorBorder);
}