header>nav>ul>li:nth-child(4)>a {
    background-color: var(--colorLinkHeaderHover);
}

main {
    justify-content: center;
    align-items: center;
}

form {
    margin-top: 50px;
    width: 90%;
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

main>form>div {
    padding: 7px;
    width: 45%;
    height: 650px;
    min-width: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: var(--colorP);
    border-radius: 20px;
    border: 1px solid var(--colorBorder);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

textarea {
    resize: none;
    padding: 7px;
    border: 1px solid var(--colorBorder);
}

.formulaire {
    align-self: center;
    box-sizing: border-box;
    width: 81%;
    display: flex;
    justify-content: space-between;
}

input {
    height: 32px;
    border-radius: 7px;
    border: 1px solid var(--colorBorder);
    padding: 7px;
}

.divInput1 {
    width: 35%;
}

.input1 {
    box-sizing: border-box;
    width: 100%;
}

.divInput2 {
    box-sizing: border-box;
    width: 81%;
}

.input2 {
    box-sizing: border-box;
    width: 100%;
}


.submit {
    width: 150px;
    background-color: var(--colorBackgroundElement);
    color: white;
}

.objet {
    width: 100%;
    height: 66px;
    border-radius: 10px;
    box-sizing: border-box;
}

.message {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 650px;
    width: 45%;
    min-width: 400px;
    border-radius: 20px;
}