header>nav>ul>li:nth-child(2)>a {
    background-color: var(--colorLinkHeaderHover);
}

main {
    align-items: center;
    flex-direction: column;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main>article {
    background-color: var(--colorP);
    width: 55%;
    border-radius: 20px;
    border: 1px solid var(--colorBorder);
    padding: 7px;
    margin-top: 5px;
    margin-bottom: 5px;
}

main>div {
    display: flex;
    flex-wrap: wrap;
    width: 65%;
    justify-content: center;
}

main>div>section>a>img {
    border: 1px solid var(--colorBorder);
    object-fit: cover;
    margin: 3px;
    height: 250px;
    max-width: 420px;
}

h4 {
    margin: 0;
    color: white;
}

.images {
    display: flex;
    justify-content: space-evenly;
}

.longParagraphe {
    text-indent: 30px;
}